html, body {
    background-color: #E5E2DE;
    width: 90%;
    font-family: "DM Sans", sans-serif;
}

@font-face {
    font-family: "redaction italic";
    src: url("/assets/redaction-font.woff2") format('woff');
  }

.list {
    display: grid;
    grid-auto-flow: column;
    list-style-type: none;
    column-gap: 20px;
    padding: 0;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    font-family: "DM Mono", monospace;
}

.listItem {
    width: min-content;
    white-space: nowrap;
    border-bottom: 1px solid black;
}

.hamburger {
    display: none;
}

.nav-bar {
    display: none;
}

.yellow-background {
    background-color: #F0F282;
    font-family: "redaction italic";
}

.org-link {
    text-decoration: none;
    border-bottom: dashed 1px black;
}

/* Regular Navigation Bar for Desktop */
@media screen and (min-width: 801px) {
    .nav-bar {
        display: block !important;
    }

    .profile-picture {
        max-width: 400px;
    }
}

/* Hamburger Menu for Mobile */
@media screen and (max-width: 800px) {
    .header {
        flex-direction: column;
        padding: 20px;
    }

    .profile-picture {
        max-width: 200px;
    }

    .mobileHeader {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .hamburger {
      display: block;
    }

    .nav-bar {
        display: none;
    }

    .list {
        grid-auto-flow: row;
        list-style-type: none;
        row-gap: 40px;
        column-gap: 0;
        justify-items: center;
    }
}

