html, body {
    background-color: #E5E2DE;
    width: 90%;
}

.list {
    display: grid;
    grid-auto-flow: column;
    list-style-type: none;
    column-gap: 20px;
    padding: 0;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.listItem {
    width: min-content;
    white-space: nowrap;
}

.hamburger {
    display: none;
}

.nav-bar {
    display: none;
}

/* Regular Navigation Bar for Desktop */
@media screen and (min-width: 801px) {
    .nav-bar {
        display: block !important;
    }
}

/* Hamburger Menu for Mobile */
@media screen and (max-width: 800px) {
    .header {
        flex-direction: column;
        padding: 20px;
    }

    .mobileHeader {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .hamburger {
      display: block;
    }

    .nav-bar {
        display: none;
    }

    .list {
        grid-auto-flow: row;
        list-style-type: none;
        row-gap: 40px;
        column-gap: 0;
        justify-items: center;
    }
}

