html, body {
    background-color: #E5E2DE;
    width: 100%;
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

@font-face {
    font-family: "redaction italic";
    src: url("assets/redaction-font.woff2") format('woff');
}

.list {
    display: grid;
    grid-auto-flow: column;
    list-style-type: none;
    column-gap: 20px;
    padding: 0;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
    font-family: "DM Mono", monospace;
    color: black;
    background-color: transparent;
}

.listItem {
    width: min-content;
    white-space: nowrap;
    border-bottom: 1px solid black;
    margin: 0rem 1.3rem;
}

.listItem:hover, .listItem a:hover {
    color: #bcb5a3 !important;
    border-color: #bcb5a3 !important;
}

.hamburger {
    display: none;
}

.nav-bar {
    display: none;
}

.main-text h3 {
    font-weight: 300;
    font-size: 2rem;
    margin-top: .5rem;
    hyphens: auto;
}

.main-text h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.roles-text {
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: -0.8px;
}

.landing-page-introduction {
    display: flex;
    margin: 2rem;
}

.profile-picture-section {
    min-width: 30%;
    height: 400px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    margin-right: 5%;
    margin-left: 2%;
    margin-top: 4%;
    border-radius: 300px;
}

.child {
    width: 300%;
    background-size: cover;
    transition: all 1.1s;
    margin: 0;
    padding: 0;
}

.profile-picture {
    background-image: url(assets/images/pic.png)
}

.profile-picture-section:hover .child {
    transform: scale(1.18);
}

.introduction {
    width: 60%;
}

.project-container {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}

.project-text {
    max-width: 40%;
    margin-right: 5%;
}

.project-text button {
    font-family: "DM Mono", monospace;
    background-color: transparent;
    border: transparent;
    display:flex;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
    padding: 0;
}

.project-text h4 {
    font-family: "DM Mono", monospace;
    font-weight: 200;
    margin-top: 0;
}

.project-text h1 {
    letter-spacing: -0.8px;
    font-size: 2.5rem;
    margin-bottom: 0.2rem;
}

.project-text p {
    font-size: 1.5rem;
    font-weight: 300;
}

.project-image {
    max-width: 40%;
    object-fit: contain;
    /* display: flex;
    align-items: center; */
}

.project-image img {
    border-radius: 20px;
}

.yellow-background {
    background-color: #F0F282;
    font-family: "redaction italic";
    font-weight: 200;
    transform: skew(-15deg);
}

.org-link {
    text-decoration: none;
    border-bottom: dashed 1px black;
}

.org-link:hover {
    color: #bcb5a3 !important;
}

.project-text button:hover {
    color: #bcb5a3 !important;
    cursor: pointer;
}

/* Regular Navigation Bar for Desktop */
@media screen and (min-width: 801px) {
    .nav-bar {
        display: block !important;
    }

    .mobileFooter {
        display: none;
    }

    .desktopFooter {
        display: flex;
        justify-content: space-between;
        margin: 4% 5%;
    }

    .desktopFooter a {
        text-decoration: none;
        font-family: "DM Mono", monospace;
        color: black;
        display: flex;
        align-items: center;
    }

}

/* Hamburger Menu for Mobile */
@media screen and (max-width: 800px) {

    .desktopFooter {
        display: none;
    }

    .profile-picture-section {
        min-width: 30%;
        height: 300px;
        width: 300px;
        display: flex;
        justify-content: center;
        border-radius: 300px;
    }
    
    .child {
        width: 300%;
        background-size: cover;
        transition: all 1.1s;
    }

    .project-container {
        display:block;
    }

    .project-image img {
        margin-top: 1.5rem;
    }

    .main-text h3 {
        font-weight: 300;
        font-size: 1.4rem;
        margin-top: 0.5rem;
        line-height: 2rem !important;
    }
    
    .main-text h1 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }
    
    .roles-text {
        font-size: 1.3rem;
        font-weight: 300;
        letter-spacing: -0.8px;
    }

    .landing-page-introduction {
        display: block;
    }

    .introduction {
        width: 100%;
    }

    .mobileFooter a {
        display: block;
        text-decoration: none;
        font-size: 1.2rem;
    }

    .mobileFooter {
        margin-bottom: 10%;
        margin-left: 3%;
    }

    .hamburger {
        display: flex;
        align-items: center;
        background-color: transparent;
        border-color: transparent;
    }
    
    .mobileHeader a {
        display:flex;
        align-items: center;
    }

    .header {
        flex-direction: column;
        padding: 20px;
        color: black;
    }

    .mobileHeader {
        width: 100%;
        display: flex;
        justify-content: space-around;
        color: black;
    }

    .nav-bar {
        display: none;
    }

    .list {
        grid-auto-flow: row;
        list-style-type: none;
        row-gap: 40px;
        column-gap: 0;
        justify-items: center;
    }
}

html.Lenis {
    height: auto;
}

.lenis-lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis.scrolling iframe {
    pointer-events: none;
}