html, body {
    background-color: #E5E2DE;
    width: 100%;
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

@font-face {
    font-family: "redaction italic";
    src: url("/assets/redaction-font.woff2") format('woff');
}

.list {
    display: grid;
    grid-auto-flow: column;
    list-style-type: none;
    column-gap: 20px;
    padding: 0;
}

.header {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
    font-family: "DM Mono", monospace;
    color: black;
    z-index: 10;
    background-color: transparent;
}

.listItem {
    width: min-content;
    white-space: nowrap;
    border-bottom: 1px solid black;
    margin: 0rem 1.3rem;
}

.listItem:hover, .listItem a:hover {
    color: #bcb5a3 !important;
    border-color: #bcb5a3 !important;
}

.hamburger {
    display: none;
}

.nav-bar {
    display: none;
}

h1 {
    font-size: 15rem;
    letter-spacing: -0.8rem;
    text-align: center;
}

h2 {
    font-size: 1rem;
}


.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    grid-template-areas: 'a1 a2 a3 a3';
}

.hero {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero_title {
    text-align: center;
    display: block;
    margin-top: 10rem;
    margin-bottom: -4rem;
}

.projects {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-top: 2px solid black;
}

.projects_col {
    border-right: 2px solid black;
    height: fit-content;
    overflow: hidden;
}

.projects_col:last-child {
    border-right: none;
}

.projects_col:nth-child(1) {
    grid-area: a1;
}

.projects_col:nth-child(2) {
    grid-area: a2;
}

.projects_col:nth-child(3) {
    grid-area: a3;
}


.projects_col_item {
    position: relative;
    overflow: hidden;
    border-bottom: 2px solid black;
}

.projects_col:nth-child(1) .projects_col_item {
    width: 100%;
    height: 32rem;
}

/* .projects_col:nth-child(1) .projects_col_item:last-child {
    width: 100%;
    height: 31.75rem;
} */

.projects_col:nth-child(2) .projects_col_item {
    width: 100%;
    height: 26rem;
}

.projects_col:nth-child(2) .projects_col_item:nth-child(2) {
    width: 100%;
    height: 38rem;
}

.projects_col:nth-child(2) .projects_col_item:last-child {
    width: 100%;
    height: 32rem;
}

.projects_col:nth-child(3) .projects_col_item {
    width: 100%;
    height: 32rem;
}

.projects_col_item_img {
    position: relative;
    width: inherit;
    height: inherit;
}

.projects_col_item_img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.outro {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid black;
}

.outro_title {
    display: block;
    text-align: center;
}

.other-buttons {
    border-right: 1px solid black;
    text-decoration: none;
    margin: 0;
}

.other-buttons button {
    padding: 1rem 12.5rem;
    border-color: transparent;
    background-color: transparent;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0;
    font-family: 'DM Mono', monospace;
    letter-spacing: 0.2rem;
}

.other-buttons button:hover {
    background-color: black;
    color: #e4e2dd;
}

.other-buttons:last-child {
    border-right: none;
}

.other-buttons-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 801px) {
    .mobileFooter {
        display: none;
    }

    .outro_message h1 {
        font-size: 8rem;
    }

    .desktopFooter {
        display: flex;
        justify-content: space-between;
        margin: 4% 5%;
    }
    
    .desktopFooter a {
        text-decoration: none;
        font-family: "DM Mono", monospace;
        color: black;
    }

    .nav-bar {
        display: block !important;
    }

    .hamburger:hover {
        cursor: pointer !important; 
    }
}

@media screen and (max-width: 800px) {

    .hamburger {
        display: block;
        background-color: transparent;
        border-color: transparent;
    }

    .header {
        flex-direction: column;
        padding: 20px;
        color: rgb(0, 0, 0);
    }

    .mobileHeader {
        width: 100%;
        display: flex;
        justify-content: space-around;
        color: rgb(0, 0, 0) !important;
    }

    .mobileHeader .home-link {
        color: rgb(0, 0, 0) !important;
        line-height: 1.8;
    }

    .mobileHeader button {
        color: rgb(0, 0, 0);
    }

    .nav-bar {
        display: none;
    }

    .list {
        grid-auto-flow: row;
        list-style-type: none;
        row-gap: 40px;
        column-gap: 0;
        justify-items: center;
    }

    .hero_wrapper h1 {
        font-size: 6rem;
        letter-spacing: -0.4rem;
    }
    .hero_title {
        margin-bottom: -2rem;
    }
    .hero {
        padding-top: 3rem;
    }
    .outro_message h1 {
        font-size: 2.5rem !important;
        letter-spacing: 0.0000025rem;
    }
    .projects_wrapper {
        display: flex;
        flex-direction: column;
    }
    .projects_col {
        border-right: 2px solid black;
    }
    .desktopFooter {
        display: none;
    }
    .mobileFooter a {
        display: block;
        text-decoration: none;
        font-size: 1.2rem;
    }
    .mobileFooter h1 {
        font-size: 2rem !important;
        letter-spacing: 0rem !important;
        text-align: left;
    }
    .mobileFooter {
        margin-bottom: 10%;
        margin-left: 3%;
    }
}

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-Lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}